.done{
  color: green;
}
.unfinished{
  color: orangered;
}
span #button_and_checkbox{
  display: flex;
  flex-direction: row;
}
span #button_and_checkbox .mat-checkbox{
  align-self: center;
  margin-left: auto;
}
.mat-card{
  min-width: 20%;
}

