<mat-list-item>
  <mat-card>
    <div>
      <div mat-line id="container">
        <mat-card-title [class.done_title]="toDo.isCompleted">{{(toDo.title.length>22) ? (toDo.title | slice:0:22)+'...' : toDo.title}}</mat-card-title>
        <button mat-button id="delete_button" (mouseenter)="onHover()" (mouseleave)="onHover()" (click)="openDialog()">
          <mat-icon [class.on-hover]="isOverIcon">delete_forever</mat-icon>
        </button>
      </div>
      <p mat-line *ngIf="toDo.isCompleted" class="done_status">Done</p>
      <p mat-line *ngIf="!toDo.isCompleted" class="unfinished_status">Unfinished</p>
      <span mat-line>
        <span id="button_and_checkbox">
          <button mat-raised-button color="accent" type="button" (click)="goToSingleView()">See details</button>
          <mat-checkbox mat-line labelPosition="before" (change)="OnChange()" [checked]="isChecked">Mark as Done</mat-checkbox>
        </span>
      </span>
    </div>
  </mat-card>
</mat-list-item>

