<mat-list-item>
  <div mat-line>
    <h3 *ngIf="toDo.isCompleted" style="text-decoration: line-through">{{toDo.title}}</h3>
    <h3 *ngIf="!toDo.isCompleted">{{toDo.title}}</h3>
  </div>
  <p mat-line *ngIf="toDo.isCompleted" class="done">Done</p>
  <p mat-line *ngIf="!toDo.isCompleted" class="unfinished">Unfinished</p>
  <mat-checkbox mat-line labelPosition="before" style="font-style: italic" (change)="OnChange()" [checked]="isChecked">Mark as Done</mat-checkbox>
  <br>
  <span mat-line>
    <button (click)="goToSingleView()">See details</button>
  </span>
</mat-list-item>

