.done_status{
  color: green;
}
.unfinished_status{
  color: orangered;
}
.done_title{
  text-decoration: line-through;
}
span #button_and_checkbox{
  display: flex;
  flex-direction: row;
}
span #button_and_checkbox .mat-checkbox{
  align-self: flex-end;
  margin-left: auto;
  font-style: italic;
}
.mat-card{
  width: 30%;
}
div #container{
  display: flex;
  flex-direction: row;
}
div #container .mat-button{
  margin-left: auto;
}
.on-hover{
  color: red;
}


