<div *ngIf="todo$ | async as toDo">
  <div id="container">
    <mat-card>
      <div>
        <h3 [class.done_title]="toDo.isCompleted">{{toDo.title}}</h3>
      </div>
      <p>{{toDo.description}}</p>
      <p *ngIf="toDo.isCompleted" class="done_status">Done</p>
      <p *ngIf="!toDo.isCompleted" class="unfinished_status">Unfinished</p>
      <button mat-raised-button id="goBackToDashboard" color="accent" type="button" (click)="goBackToDashboard()">Back to dashboard</button>
    </mat-card>
  </div>
</div>
