.done_status{
  color: green;
}
.unfinished_status{
  color: orangered;
}
div #container{
  display: flex;
  justify-content: center;
}
.mat-card{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.mat-card .button{
  justify-self: center;
}
.done_title{
  text-decoration: line-through
}


